<template>
  <section class="card-section pt-5">
    <div class="inner">
      <div class="container">
        <div class="row" v-if="data.length > 0">
          <div class="col-12 col-lg-3" v-for="item in data" :key="item.id">
            <FoodCard
              :title="item.title"
              :description="item.des"
              :price="item.price"
              :img="item.img"
              @AddCartEvent="AddCartEvent"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import firebase from "@/firebase";
import { reactive } from "vue";
import FoodCard from "@/components/FoodCard";
export default {
  name: "CardSection",
  components: { FoodCard },
  methods: {
    AddCartEvent(item) {
      this.$emit("AddCartEvent", item);
    },
  },
  setup() {
    let data = reactive([]);

    firebase
      .firestore()
      .collection("menu")
      .get()
      .then((querySnapshot) => {
        querySnapshot.forEach((doc) => {
          data.push({
            id: doc.id,
            title: doc.data().title,
            des: doc.data().des,
            price: doc.data().price,
            img: doc.data().img,
          });
        });
      });

    return {
      data,
    };
  },
};
</script>

<style lang="scss" scoped>
.card-section {
  background-image: url("../../assets/bg.jpg");
}
.title {
  text-align: center;
  padding: 50px;
  h3 {
    font-size: 50px;
    background-color: #e86225;
    display: inline-block;
    padding: 15px 35px;
    color: #eee;
    border-radius: 7px;
  }
}
</style>