<template>
  <header>
    <div class="over"></div>
    <div class="row h-100">
      <div class="content">
        <h1>المنيو</h1>
      </div>
    </div>
  </header>
</template>

<script>
export default { name: "HeaderTitle" };
</script>

<style lang="scss" scoped>
header {
  width: 100%;
  max-height: 40vh;
  position: relative;
  background-image: url(../../assets/Screenshot.png);
  background-attachment: fixed;
  background-color: #252525;
  overflow: hidden;
  .over{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #252525;
    opacity: 0.1;
  }
  .content {
    h1 {
      font-size: 120px;
      color: #ffffff;
      text-align: center;
      margin: 55px;
    }
  }
}
</style>