<template>
  <footer class="text-center py-5">
      <img src="@/assets/logo.png" width="150" />
  </footer>
</template>

<script>
export default {
  name: "FooterSection",
};
</script>

<style lang="scss" scoped>
</style>