<template>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <router-link class="navbar-brand" to="/">
        <img src="@/assets/logo.png" width="150" />
      </router-link>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <router-link
              class="nav-link fw-bold active"
              aria-current="page"
              to="/"
              >الرئيسيه</router-link
            >
          </li>
          <li class="nav-item">
            <router-link class="nav-link fw-bold" aria-current="page" to="/Menu"
              >المنيو</router-link
            >
          </li>
        </ul>
        <Cart @RemoveCartEvent="RemoveCartEvent" />
      </div>
    </div>
  </nav>
</template>

<script>
import Cart from "@/components/Cart";
export default {
  components: { Cart },
  methods: {
    RemoveCartEvent(item) {
      this.$emit("RemoveCartEvent", item);
    },
  },
};
</script>

<style>
.nav-item {
  padding: 0 10px;
}
a.active {
  color: #e86225 !important;
}
</style>
