<template>
  <div class="w-100 top-bar">
    <div class="container" dir="ltr">
      <div class="row">
        <div class="col-12 col-lg-6 my-2">
          <div class="row">
            <div class="col-6 text-end">
              <i class="fas fa-phone-volume"></i>
              <span class="px-3">{{ phoneNumber }}</span>
            </div>
            <div class="col-6 text-start">
              <i class="fas fa-map-marker-alt"></i>
              <span class="px-3">الشروق , القاهرة</span>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6 my-2">
          <div class="row">
            <div class="col-3 text-start">
              <a :href="facebook" target="_blank">
                <i class="fab fa-facebook-f"></i>
              </a>
            </div>
            <div class="col-3 text-start">
              <a :href="twitter" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
            </div>
            <div class="col-3 text-start">
              <a :href="instagram" target="_blank">
                <i class="fab fa-instagram"></i>
              </a>
            </div>
            <div class="col-3 text-start">
              <a :href="whatsapp" target="_blank">
                <i class="fab fa-whatsapp"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { inject } from "vue";
export default {
  name: "Topbar",
  setup() {
    const phoneNumber = inject("phoneNumber", "(02)+01222222222");
    const facebook = inject("facebook", "https://www.facebook.com/");
    const twitter = inject("twitter", "http://twitter.com/");
    const instagram = inject("instagram", "https://www.instagram.com/");
    const whatsapp = inject("whatsapp", "https://web.whatsapp.com/");
    return { phoneNumber, facebook, twitter, instagram, whatsapp };
  },
};
</script>

<style scoped>
.top-bar {
  background-color: #1e1d23;
  color: #eee;
}
i {
  color: #e86225 !important;
}
</style>
