<template>
  <header>
    <div class="over"></div>
    <div class="row h-100">
      <div class="content">
        <h1>لوحه التحكم</h1>
      </div>
    </div>
  </header>
  <section class="form container py-3">
    <form @submit.prevent="login()">
      <div class="row">
        <div class="col-12 mb-3">
          <label for="InputEmail" class="form-label" required
            >البريد الإلكترونى</label
          >
          <input
            type="text"
            class="form-control"
            id="InputEmail"
            v-model="InputEmail"
          />
        </div>
        <div class="col-12 mb-3">
          <label for="InputPassword" class="form-label" required
            >كلمه المرور</label
          >
          <input
            type="password"
            class="form-control"
            id="InputPassword"
            v-model="InputPassword"
          />
        </div>
      </div>
      <button type="submit" class="btn btn-primary">تسجيل</button>
    </form>
  </section>
</template>

<script>
import { ref } from "vue";
import firebase from "@/firebase";
export default {
  name: "Login",
  setup() {
    let InputEmail = ref("restrorestro046@gamil.com");
    let InputPassword = ref("restrorestro046restrorestro046");

    return { InputEmail, InputPassword };
  },
  methods: {
    login() {
      firebase
        .auth()
        .signInWithEmailAndPassword(this.InputEmail, this.InputPassword)
        .then(() => {
          this.InputEmail = "";
          this.InputPassword = "";
          this.$router.push("/Orders");
        })
    },
  },
};
</script>

<style lang="scss" scoped>
header {
  width: 100%;
  max-height: 40vh;
  position: relative;
  background-image: url(../assets/Screenshot.png);
  background-attachment: fixed;
  background-color: #252525;
  overflow: hidden;
  .over {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #252525;
    opacity: 0.1;
  }
  .content {
    h1 {
      font-size: 120px;
      color: #ffffff;
      text-align: center;
      margin: 55px;
    }
  }
}
</style>