<template>
  <HeaderSlider />
  <MenuCats />
  <CardSection @AddCartEvent="AddCartEvent" @RemoveCartEvent="RemoveCartEvent"/>
  <FooterSection />
</template>

<script>
import HeaderSlider from "@/components/home/HeaderSlider";
import FooterSection from "@/components/layouts/FooterSection";
import MenuCats from "@/components/home/MenuCats";
import CardSection from "@/components/home/CardSection";
export default {
  name: "Home",
  components: { HeaderSlider, FooterSection, MenuCats, CardSection },
  methods: {
    AddCartEvent(item) {
      this.$emit("AddCartEvent", item);
    },
  },
};
</script>
<style lang="scss" scoped>
</style>
