<template>
  <HeaderTitle />
  <MenuCats />
  <CardSection @AddCartEvent="AddCartEvent" />
  <FooterSection />
</template>

<script>
import HeaderTitle from "@/components/menu/HeaderTitle";
import FooterSection from "@/components/layouts/FooterSection";

import MenuCats from "@/components/home/MenuCats";
import CardSection from "@/components/menu/CardSection";
export default {
  name: "Home",
  components: { HeaderTitle, FooterSection, MenuCats, CardSection },
  methods: {
    AddCartEvent(item) {
      this.$emit("AddCartEvent", item);
    },
  },
};
</script>
<style lang="scss" scoped>
</style>
