<template>
  <header>
    <div class="over"></div>
    <div class="row h-100">
      <div class="content">
        <h1>لوحه التحكم</h1>
      </div>
    </div>
  </header>
  <section class="form container py-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">أسم الطالب</th>
          <th scope="col" colspan="2">نوع الطلب</th>
          <th scope="col">تاريخ الطلب</th>
          <th scope="col">تفاصيل</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(data, index) in Ordersdata" :key="index">
          <th scope="row">{{ index + 1 }}</th>
          <td>{{ data.orderName }}</td>
          <td>{{ data.orderType == "here" ? "فى المطعم" : "تيك أوى" }}</td>
          <td>
            {{ data.orderAddress == "" ? data.orderTime : data.orderAddress }}
          </td>
          <td>{{ new Date(data.timeStamp.seconds * 1000).toUTCString() }}</td>
          <td>
            <router-link
              class="btn btn-danger"
              :to="{
                name: 'SingleOrder',
                params: { singleOrder: data.timeStamp.nanoseconds },
              }"
            >
              تفاصيل
            </router-link>
          </td>
        </tr>
      </tbody>
    </table>
  </section>
</template>

<script>
import { reactive } from "vue";
import firebase from "@/firebase";
export default {
  name: "Orders",
  setup() {
    let Ordersdata = reactive([]);
    firebase
      .firestore()
      .collection("order")
      .get()
      .then((querySnapshot) => {
        querySnapshot.forEach((doc) => {
          Ordersdata.push(doc.data());
        });
      });
    return {
      Ordersdata,
    };
  },
  methods: {},
};
</script>

<style lang="scss" scoped>
header {
  width: 100%;
  max-height: 40vh;
  position: relative;
  background-image: url(../assets/Screenshot.png);
  background-attachment: fixed;
  background-color: #252525;
  overflow: hidden;
  .over {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #252525;
    opacity: 0.1;
  }
  .content {
    h1 {
      font-size: 120px;
      color: #ffffff;
      text-align: center;
      margin: 55px;
    }
  }
}
</style>