<template>
  <header>
    <div class="over"></div>
    <div class="row h-100">
      <div class="content">
        <h1>الطلب</h1>
      </div>
    </div>
  </header>
  <section class="container">
    <h2 class="py-3">الفاتورة</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">الصوره</th>
          <th scope="col">العنوان</th>
          <th scope="col">السعر</th>
          <th scope="col">الكميه</th>
          <th scope="col">الإلغاء</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(data, index) in CartData" :key="index">
          <th scope="row">{{ index + 1 }}</th>
          <td><img :src="data.cardImg" width="50" height="50" /></td>
          <td>{{ data.cardTitle }}</td>
          <td>{{ data.cardPrice }}</td>
          <td>{{ data.q }}</td>
          <td>
            <button
              type="button"
              class="btn btn-danger"
              @click="RemoveCartEvent(data.cardTitle)"
            >
              <i class="fas fa-times"></i>
            </button>
          </td>
        </tr>
        <tr class="table-info">
          <th colspan="3">الإجمالى</th>
          <th colspan="3">{{ totalCalc }}</th>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="form container py-3" v-if="CartData.length > 0">
    <hr />
    <h3>بيانات الحجز</h3>
    <form @submit.prevent="SaveDB()">
      <div class="row">
        <div class="col-6 mb-3">
          <label for="InputName" class="form-label" required>الإسم</label>
          <input
            type="text"
            class="form-control"
            id="InputName"
            v-model="orderName"
          />
        </div>
        <div class="col-6 mb-3">
          <label for="InputPhone" class="form-label" required>رقم الهاتف</label>
          <input
            type="text"
            class="form-control"
            id="InputPhone"
            v-model="orderPhone"
          />
        </div>
        <div class="col-12 mb-3">
          <label for="InputMsg" class="form-label">أترك رسالتك (اختيارى)</label>
          <textarea
            class="form-control"
            id="InputMsg"
            v-model="orderMsg"
          ></textarea>
        </div>
      </div>
      <hr />
      <h3 class="mb-3">نوع الطلب</h3>
      <div class="row">
        <div class="form-check col-6 mb-3">
          <input
            class="form-check-input"
            type="radio"
            name="orderType"
            id="orderType1"
            v-model="orderType"
            value="here"
            checked
          />
          <label class="form-check-label" for="orderType1"> فى المطعم </label>
        </div>
        <div class="form-check col-6 mb-3">
          <input
            class="form-check-input"
            type="radio"
            name="orderType"
            id="orderType2"
            v-model="orderType"
            value="takeaway"
          />
          <label class="form-check-label" for="orderType2"> تيك أوى </label>
        </div>
        <div class="col-12 mb-3" v-if="orderType === 'here'">
          <label for="comeTime" class="form-label">موعد الوصول</label>
          <input
            type="datetime-local"
            class="form-control"
            id="comeTime"
            v-model="orderTime"
          />
        </div>
        <div class="col-12 mb-3" v-if="orderType === 'takeaway'">
          <label for="addrres" class="form-label">العنوان</label>
          <input
            type="text"
            class="form-control"
            id="addrres"
            v-model="orderAddress"
          />
        </div>
      </div>
      <hr />
      <h3 class="mb-3">وسيله الدفع</h3>
      <div class="row">
        <div class="form-check col-6 mb-3">
          <input
            class="form-check-input"
            type="radio"
            name="payType"
            id="payType1"
            v-model="payType"
            value="cash"
          />
          <label class="form-check-label" for="payType1"> كاش </label>
        </div>
        <div class="form-check col-6 mb-3">
          <input
            class="form-check-input"
            type="radio"
            name="payType"
            id="payType2"
            v-model="payType"
            value="creadcard"
          />
          <label class="form-check-label" for="payType2"> بطاقه إتمانيه </label>
        </div>
        <div class="col-12 mb-3" v-if="payType === 'creadcard'">
          <div>
            <div class="padding">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-header">
                      <strong>Credit Card</strong>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group">
                            <label for="name">الأسم</label>
                            <input
                              class="form-control"
                              id="name"
                              type="text"
                              placeholder="ادخل الأسم الموجود على البطاقه"
                            />
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <div class="form-group">
                            <label for="ccnumber">رقم البطاقه</label>
                            <div class="input-group">
                              <input
                                class="form-control"
                                type="text"
                                placeholder="0000 0000 0000 0000"
                                autocomplete="email"
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="form-group col-4">
                          <label for="ccmonth">الشهر</label>
                          <select class="form-control" id="ccmonth">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                          </select>
                        </div>
                        <div class="form-group col-4">
                          <label for="ccyear">السنه</label>
                          <select class="form-control" id="ccyear">
                            <option>2014</option>
                            <option>2015</option>
                            <option>2016</option>
                            <option>2017</option>
                            <option>2018</option>
                            <option>2019</option>
                            <option>2020</option>
                            <option>2021</option>
                            <option>2022</option>
                            <option>2023</option>
                            <option>2024</option>
                            <option>2025</option>
                          </select>
                        </div>
                        <div class="col-4">
                          <div class="form-group">
                            <label for="cvv">CVV/CVC</label>
                            <input
                              class="form-control"
                              id="cvv"
                              type="text"
                              placeholder="123"
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer">
                      <button
                        class="btn btn-sm btn-success float-right"
                        type="submit"
                      >
                        <i class="mdi mdi-gamepad-circle"></i> دفع
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">تسجيل الطلب</button>
    </form>
  </section>
  <div class="container" v-else><h2>لا يوجد طلبات</h2></div>
</template>

<script>
import { inject, ref } from "vue";
import firebase from "@/firebase";
export default {
  name: "Pay",
  setup() {
    const CartData = inject("CartItems", []);

    let orderName = ref("");
    let orderPhone = ref("");
    let orderMsg = ref("");
    let orderType = ref("here");
    let orderAddress = ref("");
    let orderTime = ref("");
    let payType = ref("cash");
    return {
      CartData,
      orderName,
      orderPhone,
      orderMsg,
      orderType,
      orderAddress,
      orderTime,
      payType,
    };
  },
  methods: {
    RemoveCartEvent(cardTitle) {
      this.$emit("RemoveCartEvent", cardTitle);
    },
    SaveDB() {
      if (this.orderName.length > 0) {
        var db = firebase.firestore();
        db.collection("order")
          .add({
            timeStamp: firebase.firestore.Timestamp.fromDate(new Date()),
            orderName: this.orderName,
            orderPhone: this.orderPhone,
            orderMsg: this.orderMsg,
            orderType: this.orderType,
            orderAddress: this.orderAddress,
            orderTime: this.orderTime,
            payType: this.payType,
            oderCart: this.CartData,
          })
          .then((docRef) => {
            console.log(docRef);
            this.orderName = "";
            this.orderPhone = "";
            this.orderMsg = "";
            this.orderAddress = "";
            this.orderTime = "";
            this.orderType = "here";
            this.payType = "cash";
            this.$emit("EmptyCartEvent");
          })
          .catch((error) => {
            console.error("Error adding document: ", error);
          });
      }
    },
  },
  computed: {
    totalCalc() {
      var total = 0;
      this.CartData.forEach((element) => {
        total = total + element.q * element.cardPrice;
      });
      return total;
    },
  },
};
</script>

<style lang="scss" scoped>
header {
  width: 100%;
  max-height: 40vh;
  position: relative;
  background-image: url(../assets/Screenshot.png);
  background-attachment: fixed;
  background-color: #252525;
  overflow: hidden;
  .over {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #252525;
    opacity: 0.1;
  }
  .content {
    h1 {
      font-size: 120px;
      color: #ffffff;
      text-align: center;
      margin: 55px;
    }
  }
}
</style>