<template>
  <header>
    <div class="over"></div>
    <div class="row h-100">
      <div class="content">
        <h1>الطلب</h1>
      </div>
    </div>
  </header>
  <section class="container">
    <div class="row my-5">
      <div class="col">
        <h5>الأسم : {{ OrderName }}</h5>
      </div>
      <div class="col">
        <h5>رقم الهاتف : {{ orderPhone }}</h5>
      </div>
    </div>
    <h2 class="py-3">الفاتورة</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">الصوره</th>
          <th scope="col">العنوان</th>
          <th scope="col">السعر</th>
          <th scope="col">الكميه</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(data, index) in OrderData" :key="index">
          <th scope="row">{{ index + 1 }}</th>
          <td><img :src="data.cardImg" width="50" height="50" /></td>
          <td>{{ data.cardTitle }}</td>
          <td>{{ data.cardPrice }}</td>
          <td>{{ data.q }}</td>
        </tr>
        <tr class="table-info">
          <th colspan="3">الإجمالى</th>
          <th colspan="3">{{ totalCalc }}</th>
        </tr>
      </tbody>
    </table>
  </section>
</template>

<script>
import firebase from "@/firebase";
import { reactive, ref } from "vue";
import { useRoute } from "vue-router";
export default {
  name: "SingleOrder",
  setup() {
    const route = useRoute();
    const OrderData = reactive([]);
    const OrderName = ref("");
    const orderPhone = ref("");
    firebase
      .firestore()
      .collection("order")
      .get()
      .then((querySnapshot) => {
        querySnapshot.forEach((doc) => {
          if (doc.data().timeStamp.nanoseconds == route.params.singleOrder) {
            OrderName.value = doc.data().orderName;
            orderPhone.value = doc.data().orderPhone;
            let mydata = doc.data().oderCart;
            mydata.forEach((element) => {
              OrderData.push(element);
            });
          }
        });
      });
    return { OrderName, orderPhone, OrderData };
  },
  methods: {},
  computed: {
    totalCalc() {
      let total = 0;
      this.OrderData.forEach(
        (element) => (total = total + element.q * element.cardPrice)
      );

      return total;
    },
  },
};
</script>

<style lang="scss" scoped>
header {
  width: 100%;
  max-height: 40vh;
  position: relative;
  background-image: url(../assets/Screenshot.png);
  background-attachment: fixed;
  background-color: #252525;
  overflow: hidden;
  .over {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #252525;
    opacity: 0.1;
  }
  .content {
    h1 {
      font-size: 120px;
      color: #ffffff;
      text-align: center;
      margin: 55px;
    }
  }
}
</style>