<template>
  <header>
    <div class="row h-100">
      <div class="content">
        <img src="../../assets/logo.png" alt="" class="header-logo" />
      </div>
    </div>
  </header>
</template>

<script>
export default { name: "HeaderSlider" };
</script>

<style lang="scss" scoped>
header {
  width: 100%;
  height: 90vh;
  position: relative;
  background-image: url(../../assets/Screenshot.png);
  background-color: #252525;
  overflow: hidden;
  .content {
    display: flex;
    align-items: center;
    .header-logo {
      width: 500px;
      max-width: 90%;
      margin-right: 5%;
    }
  }
}
</style>