<template>
  <section class="menu-cats">
    <div class="menu-title">
      <h3>الأقسام</h3>
    </div>
    <div class="cats">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-6 col-lg cats-item">
            <router-link
              class="navbar-brand"
              :to="{
                name: 'Section',
                params: { section: 'drinks' },
              }"
            >
              <img src="@/assets/category-55.png" />
              <h5 class="fw-bold">مشروبات</h5>
            </router-link>
          </div>
          <div class="col-sm-6 col-6 col-lg cats-item">
            <router-link
              class="navbar-brand"
              :to="{
                name: 'Section',
                params: { section: 'sandwich' },
              }"
            >
              <img src="@/assets/category7.png" />
              <h5 class="fw-bold">سندوتشات</h5>
            </router-link>
          </div>
          <div class="col-sm-6 col-6 col-lg cats-item">
            <router-link
              class="navbar-brand"
              :to="{
                name: 'Section',
                params: { section: 'chicken' },
              }"
            >
              <img src="@/assets/category-33.png" />
              <h5 class="fw-bold">دجاج</h5>
            </router-link>
          </div>
          <div class="col-sm-6 col-6 col-lg cats-item">
            <router-link
              class="navbar-brand"
              :to="{
                name: 'Section',
                params: { section: 'burgar' },
              }"
            >
              <img src="@/assets/category5.png" />
              <h5 class="fw-bold">برجر</h5>
            </router-link>
          </div>
          <div class="col-sm-6 col-6 col-lg cats-item">
            <router-link
              class="navbar-brand"
              :to="{
                name: 'Section',
                params: { section: 'appetizers' },
              }"
            >
              <img src="@/assets/category-44.png" />
              <h5 class="fw-bold">مقبلات</h5>
            </router-link>
          </div>
          <div class="col-sm-6 col-6 col-lg cats-item">
            <router-link
              class="navbar-brand"
              :to="{
                name: 'Section',
                params: { section: 'pizza' },
              }"
            >
              <img src="@/assets/category3.png" />
              <h5 class="fw-bold">بيتزا</h5>
            </router-link>
          </div>
          <div class="col-sm-6 col-6 col-lg cats-item">
            <router-link
              class="navbar-brand"
              :to="{
                name: 'Section',
                params: { section: 'kids' },
              }"
            >
              <img src="@/assets/category-22.png" />
              <h5 class="fw-bold">وجبات أطفال</h5>
            </router-link>
          </div>
          <div class="col-sm-6 col-6 col-lg cats-item">
            <router-link
              class="navbar-brand"
              :to="{
                name: 'Section',
                params: { section: 'compo' },
              }"
            >
              <img src="@/assets/category-11.png" />
              <h5 class="fw-bold">كومبو</h5>
            </router-link>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "MenuCats",
};
</script>

<style lang="scss" scoped>
.menu-cats {
  position: relative;
  .menu-title {
    position: relative;
    margin-top: -40px;
    font-size: 45px;
    text-align: center;
    h3 {
      background-color: #e86225;
      color: #eee;
      padding: 15px 20px;
      border-radius: 10px;

      display: inline-block;
    }
  }
  .cats-item {
    &:hover {
      .fw-bold {
        color: #0b573e !important;
      }
    }
    img {
      padding: 10px;
      width: 100%;
      height: 100px;
    }
    text-align: center;
    font-size: 20px;
    .fw-bold {
      color: #e86225 !important;
    }
  }
}
</style>