<template>
  <button
    type="button"
    class="btn"
    data-bs-toggle="modal"
    data-bs-target="#cartModel"
  >
    <i class="fas fa-shopping-cart"></i>
  </button>
  <!-- Modal -->
  <div
    class="modal fade"
    id="cartModel"
    tabindex="-1"
    aria-labelledby="cartModelLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="cartModelLabel">الطلب</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <ol v-if="CartData.length > 0">
            <li class="row">
              <div class="col">
                <h5>الصنف</h5>
              </div>
              <div class="col">
                <h5>الكميه</h5>
              </div>
              <div class="col">
                <h5>إلغاء</h5>
              </div>
            </li>
            <li v-for="(data, index) in CartData" :key="index" class="row my-3">
              <div class="col">
                <h5>{{ data.cardTitle }}</h5>
              </div>
              <div class="col">
                <h5>{{ data.q }}</h5>
              </div>
              <div class="col">
                <button
                  type="button"
                  class="btn btn-danger"
                  @click="RemoveCartEvent( data.cardTitle)"
                >
                  <i class="fas fa-times"></i>
                </button>
              </div>
            </li>
          </ol>
          <div v-else>لا يوجد طلبات</div>
        </div>
        <router-link class="modal-footer" v-if="CartData.length > 0" to="/Pay">
          <button type="button" class="btn btn-primary" >الدفع</button>
        </router-link >
      </div>
    </div>
  </div>
</template>

<script>
import { inject } from "vue";
export default {
  name: "Cart",
  setup() {
    const CartData = inject("CartItems", []);
    return {
      CartData,
    };
  },
  methods: {
    RemoveCartEvent(cardTitle) {
      this.$emit("RemoveCartEvent", cardTitle);
    },
  },
};
</script>

<style>
button i {
  color: #e86225 !important;
}
</style>
