<template>
  <div class="card mb-4">
    <img :src="cardImg" class="card-img-top" :alt="cardTitle" height="200" />
    <div class="card-body">
      <h5 class="card-title">{{ cardTitle }}</h5>
      <p class="card-text">
        {{ cardDes }}
      </p>
      <div class="row">
        <div class="col-6 text-start">
          <button
            type="button"
            class="btn"
            @click="AddCartEvent(cardTitle, cardDes, cardImg, cardPrice, 1)"
          >
            <i class="fas fa-shopping-cart"></i>
          </button>
        </div>
        <div class="col-6 text-end price">
          <h5>{{ cardPrice }}</h5>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { toRefs } from "vue";
export default {
  name: "FoodCard",
  props: ["title", "description", "img", "price"],
  setup(props) {
    const prop = toRefs(props);
    const cardTitle = prop.title;
    const cardDes = prop.description;
    const cardPrice = prop.price;
    const cardImg = prop.img;
    return {
      cardTitle,
      cardDes,
      cardPrice,
      cardImg,
    };
  },
  methods: {
    AddCartEvent(cardTitle, cardDes, cardImg, cardPrice, q) {
      this.$emit("AddCartEvent", { cardTitle, cardDes, cardImg, cardPrice, q });
    },
  },
};
</script>
<style lang="scss" scoped>
.card-text {
  min-height: 50px;
}
.price {
  h5 {
    color: #0b573e;
    font-weight: bold;
  }
}
</style>
