<template>
  <Topbar />
  <Navbar @RemoveCartEvent="RemoveCartEvent" />
  <router-view
    @AddCartEvent="AddCartEvent"
    @RemoveCartEvent="RemoveCartEvent"
    @EmptyCartEvent="EmptyCartEvent"
  />
</template>
<script>
/**
 * restrorestro046@gamil.com
 * restrorestro046restrorestro046
 */
import { provide, reactive } from "vue";

import Topbar from "@/components/layouts/Topbar";
import Navbar from "@/components/layouts/Navbar";
export default {
  name: "App",
  components: { Topbar, Navbar },
  methods: {
    AddCartEvent(item) {
      for (let index = 0; index < this.CartItems.length; index++) {
        if (this.CartItems[index].cardTitle === item.cardTitle) {
          return this.CartItems[index].q++;
        }
      }
      this.CartItems.push(item);
    },
    RemoveCartEvent(item) {
      for (let index = 0; index < this.CartItems.length; index++) {
        if (this.CartItems[index].cardTitle === item) {
          this.CartItems.splice(index, 1);
        }
      }
    },
    EmptyCartEvent() {
      this.CartItems.splice(0, this.CartItems.length);
    },
  },
  setup() {
    const CartItems = reactive([]);
    provide("phoneNumber", "(02)+01111111111");
    provide("facebook", "https://www.facebook.com/");
    provide("twitter", "http://twitter.com/");
    provide("instagram", "https://www.instagram.com/");
    provide("whatsapp", "https://web.whatsapp.com/");
    provide("CartItems", CartItems);
    return {
      CartItems,
    };
  },
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
* {
  font-family: "Cairo", sans-serif;
}
</style>
